.container {
  margin: 20px auto;
  width: 100%;
  padding: 0px 20px 20px 20px;
  /*border: 1px dotted black;*/
}

.content {
  margin-left: 30px;
  margin-right: auto;
}

ul li {
  list-style-type: none;
}

th {
  text-align: left;
}

.header {
  height: 100px;
  background: black;
  color: white;
}

.header h1 {
  float: left;
  width: 600px;
  margin: 0;
  padding: 30px;
}

.login {
  padding-top: 25px;
  width: 200px;
  float: right;
  font-size: 12px;
}

.pic{
  float: left;
  padding: 20px;
  /*position: relative;*/
}