<div class="container">

  <p>Hello, world!</p>
  <ul>
    <% @all_pics.each do |pic| %>
    <li><%= pic.title %></li>
    <li><img src=<%= pic.img_file_name %> alt="Smiley face">
</li>
    <% end %>
  </ul>

</div>
