<div class="container">

  <p>Welcome, Log in to submit a photo!</p>
  <div class="content">
    <% @all_pics.each do |pic| %>
    <div class="pic">
      <%= pic.title %><br>
      <img src=<%= pic.img_file_name %> alt="Smiley face">
    </div>
    <% end %>
  </div>

</div>
