<div class="container">
  <ul>
    <form name="input" action="log_in" method="post">
    <li>Username: <input type="text" name="user"></li>
    <li>Password: <input type="password" name="user"></li>
    <input type="submit" value="Submit">
    </form>
  </ul>
</div>